.game-block {
    margin: 0;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #ddd;
  }
  .piece-i {
    background-color: #000000;
  }
  .piece-j {
    background-color: #701818;
  }
  .piece-l {
    background-color: #1a861a;
  }
  .piece-o {
    background-color: #1f1f68;
  }
  .piece-s {
    background-color: #aa4d21;
  }
  .piece-t {
    background-color: #7c7e13;
  }
  .piece-z {
    background-color: #5f135f;
  }
  .piece-preview {
    background-color: #b49696;
  }

.points {
  grid-column-start: 2 !important;
  grid-column-end: col2-end !important;
  grid-row-start: row1-start !important;
  grid-row-end: row1-end !important;
  color: black;
  font-family: monospace;
  padding: 1px;
  margin: 1px;
  font-size: 24px;
}
.gameBoard {
  grid-column-start: 2 !important;
  grid-column-end: col2-end !important;
  grid-row-start: row2-start !important;
  grid-row-end: 2 !important;
  display: inline-block !important;
  padding-right: 20px;
  padding-left: 20px;
}
.pieceQueue {
  grid-column-start: 3 !important;
  grid-column-end: col3-end !important;
  grid-row-start: row2-start !important;
  grid-row-end: 2 !important;  
  display: inline-block !important;

}
.heldPiece {
  grid-column-start: 1 !important;
  grid-column-end: col1-end !important;
  grid-row-start: row2-start !important;
  grid-row-end: 2 !important;  
  display: inline-block !important;

  padding-bottom: 372px;
}

.game{
  text-align: center !important;
  grid-template-columns: auto auto auto !important;
  grid-template-rows: auto auto !important;
}