.nav-container{
    margin-left: 25px !important;
    margin-bottom: 100px !important;
}

.navleft{
    margin-left: 15px !important;
    color: white !important;
    border: solid white !important;
}