
.App{
  text-align: center;
  background-image: url("http://icanbecreative.com/resources/files/articles/40-high-resolution-wallpapers-for-minimalist-lovers/sources/everest-minimalist-wallpaper-blue.png");
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}
  
.App h1{
    color: #42A1E7  ;
    background-color: #4A5258;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
  }