
.CompleteApp{
  text-align: center;
}
  
.App h1{
    color: #42A1E7  ;
    background-color: #4A5258;
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
  }