.header{
    width: 50%;
    margin-right: auto !important;
    margin-left: auto !important;
    border: none !important;
}

.leaderboard{
    width: 50% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    font-size: 17px !important;
}